
 @font-face { src: url("./../assets/fonts/passiononeregular400.ttf"); font-family : "Passion One"; font-style : Regular; font-weight : 400;  }
 @font-face { src: url("./../assets/fonts/poppinssemibold600.ttf"); font-family : "Poppins"; font-style : SemiBold; font-weight : 600;  }
 @font-face { src: url("./../assets/fonts/poppinsmedium500.ttf"); font-family : "Poppins"; font-style : Medium; font-weight : 500;  }
 @font-face { src: url("./../assets/fonts/poppinsregular400.ttf"); font-family : "Poppins"; font-style : Regular; font-weight : 400;  }
 @font-face { src: url("./../assets/fonts/righteousregular400.ttf"); font-family : "Righteous"; font-style : Regular; font-weight : 400;  }